[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
"boto3" = "*"
prompt-toolkit = "*"
pyfiglet = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
