questions: # Top level map this must exist in a questions file
# Below example of a good question
# you could make a change to these as well if you felt necessary and the next time there is a deployment
# it will update the question
- correct_answer: Trebuchet  # The correct answer
  id: a123b4c5-678d-9e0f-abc1-23456d789e01  # The questions id
  incorrect_answers: # A list of the correct answers max is 4 min is 1
  - Catapult
  - Flying Pigs
  - Ballista
  question: What is the best seige weapon?
# Below is an example of a new question
# if you wanted to add a new question you could copy the following and change accordingly.
# Also if you are putting in numbers they must be surrounded by quotation marks to represent strings
# Also the same thing with true and false because python interprets them as Bool
# If the tests fail just put quotation marks around them to signify they are strings
- correct_answer: General Kenobi. You are a bold one
  id: b234c5d6-789e-0f1g-hij2-34567k890l112
  incorrect_answers:
  - Im pregnant...
  - Who are you?
  - "42"
  - "False"
  question: Hello there
