questions: # Top level dictionary this must exist
# Below example of an already loaded question you can see that it is already loaded  as it has an id
# you could make a change to these as well if you felt necessary and the next time there is a deployment
# it will update the question
- correct_answer: Trebuchet  # The correct answer
  id: a123b4c5-678d-9e0f-abc1-23456d789e01  # If the question is already loaded it will have a id
  incorrect_answers: # A list of the correct answers max is 4 min is 1
  - Catapult
  - Catapult
  - Catapult
  question: What is the best seige weapon?
# Below is an example of a new question
# if you wanted to add a new question you could copy the following and change accordingly.
# As you can see the question is not loaded and therefore doesn't have an id
# Also if you are putting in numbers they must be surrounded by quotation marks to represent strings
# Also the same thing with true and false because python interprets them as Bool obviously
# If the tests fail just put quotation marks around them to signify they are strings
- correct_answer: General Kenobi. You are a bold one
  incorrect_answers:
  - Im pregnant...
  - Who are you?
  - "42"
  - "False"
  question: Hello there
